.card {
    border: none;
}

.card-header {
    background-color: #101050;
    color: #ffffff;
    text-align: center;
}

button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card-body{
    padding: 0 0;
}

.task {
    padding: 0px 20px;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    background-color: #eee;
    cursor: pointer;
}

.task h2 {
    font-size: 16px;
}