.card {
    border: none;
}

.card-header {
    background-color: #101050;
    color: #ffffff;
    text-align: center;
}

button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card-body{
    padding: 0 0;
}